h1{
  text-align: center;
  color: cyan;
}
h2{
  text-align: center;
  color: blue;
}
p{
  text-align: center;
  color: indigo;
}
body{
  background-image: url('https://lh3.googleusercontent.com/proxy/8NGGj_vUDVXcUnk1tQEK7Ulqm5GmxM6sC1wKOO2Gzs50HOulSbZswdivyc-i1KLvxUOJ6ChuYx3hjN4KHR8S1PbVzZzuhAGtn91Js78fWPOb9A');
}
